.row {
  border-bottom: 1px solid black;
  padding: 10px 0 0 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.t-head {
  background: navajowhite;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.odd {
  background: lightblue;
}

.even {
  background: seashell;
}
